[submodule "encontro1"]
	path = encontro1
	url = git@github.com:rmnicola/m6-ec-encontro1.git
[submodule "encontro2"]
	path = encontro2
	url = git@github.com:rmnicola/m6-ec-encontro2.git
[submodule "encontro3"]
	path = encontro3
	url = git@github.com:rmnicola/m6-ec-encontro3.git
[submodule "encontro4"]
	path = encontro4
	url = git@github.com:rmnicola/m6-ec-encontro4
[submodule "encontro5"]
	path = encontro5
	url = git@github.com:rmnicola/m6-ec-encontro5.git
