[submodule "encontro1"]
	path = encontro1
	url = git@github.com:rmnicola/m6-ec-encontro1.git
[submodule "encontro2"]
	path = encontro2
	url = git@github.com:rmnicola/m6-ec-encontro2.git
[submodule "encontro3"]
	path = encontro3
	url = git@github.com:rmnicola/m6-ec-encontro3.git
[submodule "encontro4"]
	path = encontro4
	url = git@github.com:rmnicola/m6-ec-encontro4
[submodule "encontro5"]
	path = encontro5
	url = git@github.com:rmnicola/m6-ec-encontro5.git
[submodule "encontro6"]
	path = encontro6
	url = https://github.com/rmnicola/m6-ec-encontro6.git
[submodule "encontro7"]
	path = encontro7
	url = https://github.com/rmnicola/m6-ec-encontro7.git
[submodule "encontro8"]
	path = encontro8
	url = https://github.com/rmnicola/m6-ec-encontro8.git
[submodule "encontro9"]
	path = encontro9
	url = https://github.com/rmnicola/m6-ec-encontro9.git
